<footer class="footer border-top card-footer text-muted text-center">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year
        @*<a href="mailto:owen0918@gmail.com">owen0918@gmail.com</a>
            <custom-email asp-for=""></custom-email>*@
        <custom-email></custom-email>
    </div>
</footer>
